<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-autowire="byName">


    <!--<mvc:annotation-driven/>-->

    <!-- 配置多视图解析器 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <!--指定多解析器-->
        <property name="defaultViews">
            <list>
                <!--配置json解析器-->
                <bean class="com.alibaba.fastjson.support.spring.FastJsonJsonView">
                    <property name="charset" value="utf-8"/>
                </bean>
            </list>
        </property>
        <!-- 指定 jsp解析器 -->
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/res/" />
                    <property name="suffix" value=".jsp" />
                </bean>
            </list>
        </property>
    </bean>

    <mvc:annotation-driven>
        <!--设置spring消息转换器-->
        <mvc:message-converters>
            <!--设置spring消息转换器的字符格式，解决springmvc返回的json中文问题  -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="utf-8"/>
            </bean>
            <!--配置对对象的json解析器-->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--配置自定义转换器ConversionServiceFactoryBean-->
    <!--<bean name="conversionService"  class="org.springframework.context.support.ConversionServiceFactoryBean">-->
    <!--&lt;!&ndash;定义那些自定义转换器&ndash;&gt;-->
    <!--<property name="converters">-->
    <!--&lt;!&ndash;set类型的集合&ndash;&gt;-->
    <!--<set>-->
    <!--<bean class="com.accp.converter.DateConverter" >-->
    <!--<property name="format" value="yyyy-MM-dd"/>-->
    <!--</bean>-->
    <!--</set>-->
    <!--</property>-->
    <!--</bean>-->
    <!--覆盖掉springmvc中原有的转换器-->
    <!--<mvc:annotation-driven conversion-service="conversionService" />-->

    <context:component-scan base-package="com.accp.biz,com.accp.controller" />

</beans>